<h2>Welcome to Your Home Page</h2>

<% if @playlists.empty? %>
    <p>It appears you do not have any playlists</p>
    <p>Get started by creating a new playlist</p>
<% else %>
    <ul>
    <% @playlists.each do |playlist| %>
        <li><a href="/index/<%= playlist.id %>"><%= playlist.name %></a></li>
    <% end %>
    </ul>
<% end %>

<button class="create-playlist btn">
    <a href="/new">Create New Playlist</a>
</button>

<button class="logout btn">
    <a href="/logout">Logout</a>
</button>
