<div class="error-container">
    <h1>404</h1>
    <h3>Woah! Something happened, but not sure what...</h3>
    <p>Try <a href="/signin">Signing In</a> or <a href="/signup">Signing Up</a> to continue.</p>
</div>